<script type="text/javascript">

    var my_lat, my_lon, geocoder, location1, location2, map, my_location;

//여기서부터는 내위치찾는거
function initialize() {

  geocoder = new GClientGeocoder();

  var mapOptions = {
    zoom: 15,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

  // Try HTML5 geolocation 여기에서 position.coords.latitude 이게 의심스러움ㅋㅋ
  if(navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {

        my_lat = position.coords.latitude;
       my_lon = position.coords.longitude;
      
        var pos = new google.maps.LatLng(position.coords.latitude,
                                       position.coords.longitude);

      var infowindow = new google.maps.InfoWindow({
        

        map: map,
        position: pos,
        content: '당신의 위치입니다.'
      });

      map.setCenter(pos);
    }, function() {
      handleNoGeolocation(true);
    });
  } else {
    // Browser doesn't support Geolocation
    handleNoGeolocation(false);
  }
}

function handleNoGeolocation(errorFlag) {
  if (errorFlag) {
    var content = 'GPS기능을 사용할 수 없습니다.(당신의 기기에 GPS가 없을 수도 있음ㅋㅋ)';
  } else {
    var content = '당신의 브라우저가 GPS를 활용할 수 없는 브라우저입니다.';
  }

  var options = {
    map: map,
    position: new google.maps.LatLng(60, 105),
    content: content
  };

  var infowindow = new google.maps.InfoWindow(options);
  map.setCenter(options.position);
}

google.maps.event.addDomListener(window, 'load', initialize);




//이밑에꺼는 거리계산하는거

    function showLocation() {

        geocoder.getLocations(document.forms[0].address1.value, function (response) {
            if (!response || response.Status.code != 200)
            {
                alert("Sorry, we were unable to geocode the first address");
            }
            else
            {
                location1 = {lat: response.Placemark[0].Point.coordinates[1], lon: response.Placemark[0].Point.coordinates[0], address: response.Placemark[0].address};
             calculateDistance(); 
               
            }
        });
    }

  function gaepo(){
    if(first_count == 1 && second_count == 1 && third_count == 1){
      alert("3개 모두 찾았군. 정답이다.");
      location.href = "/../yellow/chinese2/";
    }
    else { alert("아직 세개를 못 찾은 거 같은데... 맨 위 왼쪽에도 봤나?");
    }
  }


    function goal(){

      calculateDistance();
        

    }

    function arrive(){
      
      try
        {
            var glatlng1 = new GLatLng(37.4592602, 126.953321);
            var glatlng2 = new GLatLng(my_lat, my_lon);
            var miledistance = glatlng1.distanceFrom(glatlng2, 3959).toFixed(1);
            var kmdistance = (miledistance * 1.609344).toFixed(1);
 
  if(kmdistance < 1) {
    location.href = "/yellow/lucky2/";
  }
  else { 
        alert("아직 도착하지 못했네요ㅠㅠ지도상에서 당신의 위치를 다시한번 확인해 보시겠어요?");
  }
      
            
            }

        catch (error)
        {
            alert(error);
        }

    }



    function calculateDistance()
    {
        try
        {
            var glatlng1 = new GLatLng(37.4592602, 126.953321);
            var glatlng2 = new GLatLng(my_lat, my_lon);
            var miledistance = glatlng1.distanceFrom(glatlng2, 3959).toFixed(1);
            var kmdistance = (miledistance * 1.609344).toFixed(1);

            document.getElementById('results').innerHTML = '<br /><strong>당신이 있는 곳부터의 거리: </strong>' + kmdistance + ' (km)';
        }
        catch (error)
        {
            alert(error);
        }
    }

    </script>

<div class = "whitebox">
<div class="main">

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
 
<script>

var first_count = 0;
var second_count = 0;
var third_count = 0;

function first_red(){
     $("#first_check").attr('style', "border-width:2px;");
      $("#first_check_1").attr('style', "border-width:2px;");
first_count = 1;
}

function second_red(){
     $("#second_check").attr('style', "border-width:2px;");
      $("#second_check_1").attr('style', "border-width:2px;");
second_count = 1;
}

function third_red(){
     $("#third_check").attr('style', "border-width:2px;");
      $("#third_check_1").attr('style', "border-width:2px;");
third_count = 1;
}



$(function() {
    
    $('#first_check').click(function(){
     first_red();
      });

  $('#first_check_1').click(function(){
    first_red();
    });

    
    $('#second_check').click(function(){
     second_red();
      });

  $('#second_check_1').click(function(){
    second_red();
    });

    
    $('#third_check').click(function(){
     third_red();
      });

  $('#third_check_1').click(function(){
    third_red();
    });




     $('#two').click(function(){
       $("#one").fadeOut('slow',function (){
       $("#one").attr('src',"<%= asset_path("gragon.jpg")%>");
       $("#one").attr('class',"blue");
       $("#one").fadeIn('slow');
             return false;
              });

       document.getElementById('story1').innerHTML ='<br><strong>회룡</strong><br><br> 나는 중국집을 지키는 용, 회룡이라네. 여기까지 오느라 수고가 많군. 짜장면 한 그릇 먹고 갈텐가? 여기는 저렴한 가격으로 승부를 거는 곳이지. 근데도 왜 많은 아이들이 만강홍에 갈까? 음... 거기가 맛있는지 나도 한번 가봐야겠군. 아, 이번에는 문제를 내지 않고 <strong>틀린그림 찾기</strong>를 하겠네. 아래 그림에는 서로 다른 부분이 3개가 숨어있네. 세개를 찾은 다음에 아래의 버튼을 누르게.<br><br>';
       
       return false;

       });
     });

</script>
<a href="" id="two">
<img src= "<%= asset_path("chinese.png")%>" id="one"  class="lucky"/>
</a>

<p id = "story1"><strong>화성각에 도착했다. 위의 사진을 눌러보자. </strong>
<br><br><br><br><br><br><br><br><br><br><br><br>
</div>
</div>
<div class = "puzzle_table" style = "background-image: url(<%= asset_path 'img3.png' %>)">
<div style = "width:320px; height:427px; position:relative; top:0px; left:0px;">
<div class="circle" id = "first_check">
</div>

<div class="circle" id = "second_check">
</div>
<div 
class = "circle"
id = "third_check">
</div>

</div>
<div style="width:320px; height:427px; position:relative; left:320px; top:-427px;">
<div class = "circle" id = "first_check_1">
</div>

<div 
class = "circle";
 id = "second_check_1">
</div>
<div class = "circle" id = "third_check_1">
</div>
<div class ="whitebox" style="position:relative; top: 300px; left: -300px;">
<br>

<form onsubmit="gaepo(); return false;">
      <p>
        <input type="submit" name="find" value="다 찾았어요." />
      </p>
    </form>
    


<br>

    </div>
    </br>





</div>





    </br>

