<script type="text/javascript">

    var my_lat, my_lon, geocoder, location1, location2, map, my_location;

//여기서부터는 내위치찾는거
function initialize() {

  geocoder = new GClientGeocoder();

  var mapOptions = {
    zoom: 15,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

  // Try HTML5 geolocation 여기에서 position.coords.latitude 이게 의심스러움ㅋㅋ
  if(navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {

        my_lat = position.coords.latitude;
       my_lon = position.coords.longitude;
      
        var pos = new google.maps.LatLng(position.coords.latitude,
                                       position.coords.longitude);

      var infowindow = new google.maps.InfoWindow({
        

        map: map,
        position: pos,
        content: '당신의 위치입니다.'
      });

      map.setCenter(pos);
    }, function() {
      handleNoGeolocation(true);
    });
  } else {
    // Browser doesn't support Geolocation
    handleNoGeolocation(false);
  }
}

function handleNoGeolocation(errorFlag) {
  if (errorFlag) {
    var content = 'GPS기능을 사용할 수 없습니다.(당신의 기기에 GPS가 없을 수도 있음ㅋㅋ)';
  } else {
    var content = '당신의 브라우저가 GPS를 활용할 수 없는 브라우저입니다.';
  }

  var options = {
    map: map,
    position: new google.maps.LatLng(60, 105),
    content: content
  };

  var infowindow = new google.maps.InfoWindow(options);
  map.setCenter(options.position);
}

google.maps.event.addDomListener(window, 'load', initialize);




//이밑에꺼는 거리계산하는거

    function showLocation() {

        geocoder.getLocations(document.forms[0].address1.value, function (response) {
            if (!response || response.Status.code != 200)
            {
                alert("Sorry, we were unable to geocode the first address");
            }
            else
            {
                location1 = {lat: response.Placemark[0].Point.coordinates[1], lon: response.Placemark[0].Point.coordinates[0], address: response.Placemark[0].address};
             calculateDistance(); 
               
            }
        });
    }

  function gaepo(){
    if(document.forms[0].bus.value == "5511"){
      alert("정답이다. 이제 외우겠지?큐큐");
      location.href = "/../yellow/snu2/";
    }
    else { alert("틀렸다. 다시 맞춰봐라.");
    }
  }


    function goal(){

      calculateDistance();
        

    }

    function arrive(){
      
      try
        {
            var glatlng1 = new GLatLng(37.4592602, 126.953321);
            var glatlng2 = new GLatLng(my_lat, my_lon);
            var miledistance = glatlng1.distanceFrom(glatlng2, 3959).toFixed(1);
            var kmdistance = (miledistance * 1.609344).toFixed(1);
 
  if(kmdistance < 1) {
    location.href = "/yellow/lucky2/";
  }
  else { 
        alert("아직 도착하지 못했네요ㅠㅠ지도상에서 당신의 위치를 다시한번 확인해 보시겠어요?");
  }
      
            
            }

        catch (error)
        {
            alert(error);
        }

    }



    function calculateDistance()
    {
        try
        {
            var glatlng1 = new GLatLng(37.4592602, 126.953321);
            var glatlng2 = new GLatLng(my_lat, my_lon);
            var miledistance = glatlng1.distanceFrom(glatlng2, 3959).toFixed(1);
            var kmdistance = (miledistance * 1.609344).toFixed(1);

            document.getElementById('results').innerHTML = '<br /><strong>당신이 있는 곳부터의 거리: </strong>' + kmdistance + ' (km)';
        }
        catch (error)
        {
            alert(error);
        }
    }

    </script>

<div class = "whitebox">
<div class="main">

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
 
<script>
$(function() {
     $('#two').click(function(){
       $("#one").fadeOut('slow',function (){
       $("#one").attr('src',"<%= asset_path("green.jpg")%>");
       $("#one").attr('class',"blue");
       $("#one").fadeIn('slow');
             return false;
              });

       document.getElementById('story1').innerHTML ='<br><strong> 녹룡</strong><br><br> 여기는 2호선의 종점 중에 하나인 서울대입구역이라네. 나는 이호선의 수호신 녹룡이지. 어디에서 많이 본 것 같다고? 크크... 나는 소원을 들어주지는 않아. 아무튼 멀리까지 오느라 수고가 많았어. 여기는 서울에서 내리고 타는 사람이 많아서 손에 꼽히는 역 중에 하나야. 그러면 문제를 내겠네. 여기에서 <strong>서울대학교 수의대로 가려면 몇 번 버스를 타는게 가장 좋을까?</strong> 거기로 지금 가라는 건 아냐ㅎㅎ<br><br>';
       
       return false;

       });
     });

</script>
<a href="" id="two">
<img src= "<%= asset_path("snu.jpg")%>" id="one"  class="lucky"/>
</a>

<p id = "story1"><strong>서울대입구역에 도착했다. 위의 사진을 눌러보자. </strong>
<br><br>
</div>
</div>
<div class ="whitebox">
<br>
<form style="margin-left:10px;"  onsubmit="gaepo(); return false;">
      <p>
<input type="text" name="bus" value="" size = "8"/>
        <input type="submit" name="find" value="정답 말하기" />
      </p>
    </form>
    


<br>

    </div>
    </br>
<!--
    <br>
<a href = "/yellow/lucky" style = "text-decoration:none;">
<div class ="button">
  
<p style= "
text-decoration:none;
font-size:15px; font-weight:bold; color:#2377bb;">도착했으면 누르세요.</p>
</div>
</a>
-->
