<script type="text/javascript">

    var my_lat, my_lon, geocoder, location1, location2, map, my_location;

//여기서부터는 내위치찾는거
function initialize() {

  geocoder = new GClientGeocoder();

  var mapOptions = {
    zoom: 15,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

  // Try HTML5 geolocation 여기에서 position.coords.latitude 이게 의심스러움ㅋㅋ
  if(navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {

        my_lat = position.coords.latitude;
       my_lon = position.coords.longitude;
      
        var pos = new google.maps.LatLng(position.coords.latitude,
                                       position.coords.longitude);

      var infowindow = new google.maps.InfoWindow({
        

        map: map,
        position: pos,
        content: '당신의 위치입니다.'
      });

      map.setCenter(pos);
    }, function() {
      handleNoGeolocation(true);
    });
  } else {
    // Browser doesn't support Geolocation
    handleNoGeolocation(false);
  }
}

function handleNoGeolocation(errorFlag) {
  if (errorFlag) {
    var content = 'GPS기능을 사용할 수 없습니다.(당신의 기기에 GPS가 없을 수도 있음ㅋㅋ)';
  } else {
    var content = '당신의 브라우저가 GPS를 활용할 수 없는 브라우저입니다.';
  }

  var options = {
    map: map,
    position: new google.maps.LatLng(60, 105),
    content: content
  };

  var infowindow = new google.maps.InfoWindow(options);
  map.setCenter(options.position);
}

google.maps.event.addDomListener(window, 'load', initialize);




//이밑에꺼는 거리계산하는거

    function showLocation() {

        geocoder.getLocations(document.forms[0].address1.value, function (response) {
            if (!response || response.Status.code != 200)
            {
                alert("Sorry, we were unable to geocode the first address");
            }
            else
            {
                location1 = {lat: response.Placemark[0].Point.coordinates[1], lon: response.Placemark[0].Point.coordinates[0], address: response.Placemark[0].address};
             calculateDistance(); 
               // geocoder.getLocations(document.forms[0].address2.value, function (response) {
                   // if (!response || response.Status.code != 200)
                   // {
                     //   alert("Sorry, we were unable to geocode the second address");
                   // }
                   // else
                   // {
                    //    location2 = {lat: response.Placemark[0].Point.coordinates[1], lon: response.Placemark[0].Point.coordinates[0], address: response.Placemark[0].address};
    //                    calculateDistance();
                   // }
              //  });
                
            }
        });
    }


    function goal(){

      calculateDistance();
        

    }


function next(){
 alert("모험을 시작하려면 GPS를 켜고, 내 위치 공유를 허용해주세요. 잘 안 될때는 새로고침을 해주세요.")

  location.href = "/yellow/lucky1/";
}


    function arrive(){
      
      try
        {
            var glatlng1 = new GLatLng(37.4592602, 126.953321);
            var glatlng2 = new GLatLng(my_lat, my_lon);
            var miledistance = glatlng1.distanceFrom(glatlng2, 3959).toFixed(1);
            var kmdistance = (miledistance * 1.609344).toFixed(1);
 
  if(kmdistance < 1) {
    location.href = "http://yeonsun.junminyoung.com/yellow/snu/";
  }
  else { 
        alert("아직 도착하지 못했네요ㅠㅠ지도상에서 당신의 위치를 다시한번 확인해 보시겠어요?");
  }
            
            /*
            document.getElementById('results').innerHTML = '<br /><strong>당신이 있는 곳부터의 거리: </strong>' + kmdistance + ' (km)';
  */
            
            }

        catch (error)
        {
            alert(error);
        }

    }



    function calculateDistance()
    {
        try
        {
            var glatlng1 = new GLatLng(37.4592602, 126.953321);
            var glatlng2 = new GLatLng(my_lat, my_lon);
            var miledistance = glatlng1.distanceFrom(glatlng2, 3959).toFixed(1);
            var kmdistance = (miledistance * 1.609344).toFixed(1);

            document.getElementById('results').innerHTML = '<br /><strong>당신이 있는 곳부터의 거리: </strong>' + kmdistance + ' (km)';
        }
        catch (error)
        {
            alert(error);
        }
    }

    </script>


<!--
<div id= "map-canvas"></div>
-->


<%= image_tag 'main.jpg', class:'dragon0'%>
<div class="whitebox">
<div class="main">
<br>
<h1>뇽(龍)의 전설(傳說)</h1>
<br>
<p>

 지금은 ‘구룡(九龍) 마을’ 이라고 불리는 곳, 서울 강남(江南)의 마지막 남은 판자촌에는 슬픈 전설이 서려있다. 아주 먼 옛날, 구체적으로는 고려 현종(懸宗) 4년, 구룡 마을 뒷산 연못 깊은 곳에는 10 마리의 이무기가 살고 있었다. 이들은 한날 한시에 용(龍)이 되기 위해서 구백구십구 년 하고도 삽백육십사일의 시간을 차가운 물 속에서 지내고 있었다. 인고의 시간, 용이 되기 위한 천년(千年)의 세월이 거의 다 지나고 단 하루가 남은 마지막 날. 10마리의 용들은 내일 하늘로 올라간다는 부푼 마음을 안고  물속에서 여러가지 채비를 하고 있었다. 
</p>
<p>
<strong>  ‘풍덩!’</strong>
</p>
 <p> 10마리의 이무기들은 깊은 물 속에서도 진동을 느낄 수 있었다. 무슨 일이지?
</br>
</p>
<p><strong>
  “어푸, 어푸 살려주세요!”
</strong>
</p>
 <p>  여기는 꽤 깊은 연못인데... 아마도 나무꾼이 발을 헛디뎌 빠진 듯 하다. 10마리의 이무기들은 소리를 듣고도 서로의 눈치만을 살피고 있다. 이제 단 하루, 이 하루만 버티면 기다리고 기다리던 용이 될 수 있는데...
</p><p><strong>
   ‘첨벙 첨벙'
   </strong>
</p><p>
    이제 말소리도 들리지 않는 걸로 보아, 얼마 안 있어 그는 죽을 것이다. 마치 아무 일도 없었던 듯, 제각기 용이 될 채비를 하는 중, 한 마리의 이무기가 서서히 위로 올라가는 것이 다른 녀석들의 눈에 띄었다. ‘가지 마.’  눈빛으로 말해보지만 소용이 없다.  
</p><p>
     그리고 그 이무기는 다음날까지 돌아오지 않았다. 용이 되길 포기한 것이다. 그리고 나머지 9마리의 이무기들은 용이 되어 영생(永生)을 얻고, 자신의 영역을 지키는 수호신(守護神)이 되었다. 이러한 전설이 전해 내려오는 이곳은 9마리의 용이 승천한 곳이라는 뜻의 '구룡(九龍)마을'이라 불린다.
</p>
<p><strong>그 후 1000년의 시간이 지났다.
</strong>
</p>
<!--
<form style="margin-left:10px;" action="#" onsubmit="goal(); return false;">
      <p>
        <input type="submit" name="find" value="여기서 얼마나 멀리 떨어져있나요?" />
      </p>
    </form>
    <p id="results"></p>

-->

    <form style = "margin: 0 auto;" action = "#" onsubmit="next(); return false;">
    <p>
    <input type = "submit" name = "find" value = "다음 이야기가 궁금하면 누르세요." />
    </p>
    </form>
    </br>
    </br>
<!--
    <br>
<a href = "/yellow/lucky" style = "text-decoration:none;">
<div class ="button">
  
<p style= "
text-decoration:none;
font-size:15px; font-weight:bold; color:#2377bb;">도착했으면 누르세요.</p>
</div>
</a>
-->
</div>
</div>
