// Place all the styles related to the yellow controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  margin: 0;
  padding: 0;
}

body {
  width:100%;
  background-image: url("back.png");
  background-repeat: repeat;
           background-position:center;
         z-index: 0;

  }

.puzzle_table {
width:640px;
height:427px;  
}


.pic1 {
  margin-left:0;
  margin-top:0;
width:300px;
height:200px;
}
.pic2 {
  margin-left:0;
width:200px;
height:300px;
}
.pic3 {
margin-left:0;
width:300px;
height:200px;



}
.circle {
height:50px; width:50px; 
border-style:solid;
border-color:red;
border-width:0px;
border-radius:50px;
position: relative;
}

#first_check, #first_check_1 {
top:0px;
left:0px;
}
#second_check, #second_check_1 {
top:40px;
left:50px;
}
#third_check, #third_check_1 {
  top:190px;
left:100px;
}


.lucky {
  margin-left:20px;
  margin-top:20px;
width: 200px;
height: 150px;
}

.blue {
  margin-left:20px;
  margin-top:20px;
width:200px;
height:300px;
}


.dragon0 {
  margin-left:0;
margin-top:0;
width: 200px;
height: 300px;

}


#map-canvas, #map_canvas {
  height: 300px;
  width:300px;
        margin-left:10px;
        margin-top:0;
}

@media print {
  html, body {
    height: auto;
  }

  #map_canvas {
 
  width:650px;
   height: 650px;
  }
}

#panel {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  height:10px;
}


p { font-size: 100%; 
text-indent:4%;
}
h1 { font-size: 150%;
text-align:center;
}
.middle {

}

.button {

display: block;
padding:0.5em;
  text-align:center;
background-color:#f2f7fa;
  height:50px;
  width: 200px;
border:2px solid;
border-left-color: #d9d9d9;
border-top-color: #d9d9d9;
border-right-color: #a9a9a9;
border-bottom-color: #a9a9a9;
-webkit-border-radius: 4px;

border-radius:5px;
margin: 0 auto;
}

.main {
margin-top: 5%;
margin-left:5%;
width:90%;
}

.whitebox {
  margin-top: 5%;
  margin-left: 5%;
  width:90%;

        
  background-image: url("opaci.png");
  background-repeat: repeat;
           background-position:center;
         z-index: 0;


}     
